.login-page {
    height: 76vh;
    .login-container {
        max-width: 20rem;
        padding-bottom: 7rem;
    }
}

.message-error{
    margin-top: 15px;
    h6{
        font-weight: 900;
        color: red;
        font-size: 13px;
    }
}

.message-success{
    margin-top: 15px;
    h6{
        font-weight: 900;
        color: green;
        font-size: 13px;
    }
}