.favorites {
    a {
        color: var(--red-500);
    }

   .favorite-container {
    padding: 1.2rem 0;
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);

        .favorite-box {

            img {
                width: 10rem;
            }
        }

        .favorite-buy {
            color: var(--red-500);

            p {
                cursor: pointer;
            }

           
        }
   }

    .icon {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: var(--red-500);
        }
    }

    .favorite-box {
        p {
            color: var(--red-500);
            cursor: pointer;
        }
    }
}